

---
- name: restart monitoring stack

  community.docker.docker_compose_v2:
    project_src: /opt/monitoring
    state: present
    restarted: yes

- name: reload prometheus

  community.docker.docker_container_exec:
    container: prometheus
    command: killall -HUP prometheus

